<div id="core-head">
	<div id="core-head-content">
		<!-- left -->
		<div id="core-head-lc">
			<ul id="core-head-navigation">
				{% if settings.template == 'start' %}
					<li class="core-head-navigation-option-selected">Inicio</li>
				{% else %}
					<li class="core-head-navigation-option url" data-url="/">Inicio</li>
				{% endif %}
				{% if settings.template == 'play' %}
					<li class="core-head-navigation-option-selected">Jugar</li>
				{% else %}
					<li class="core-head-navigation-option url" data-url="/play/">Jugar</li>
				{% endif %}
				{% if settings.template == 'shop' %}
					<li class="core-head-navigation-option-selected">Tienda</li>
				{% else %}
					<li class="core-head-navigation-option url" data-url="/shop/">Tienda</li>
				{% endif %}
				{% if settings.template == 'cards' %}
					<li class="core-head-navigation-option-selected">Cartas</li>
				{% else %}
					<li class="core-head-navigation-option url" data-url="/cards/">Cartas</li>
				{% endif %}
			</ul>
		</div>
		<!-- /left -->
		<!-- right (inverso) -->
		<div id="core-head-rc">
			<div id="core-head-more" class="core-head-button">
				<div class="icon core-head-icon core-head-icon-type-a icon-menu3"></div>
			</div>
			<div id="core-head-messages" class="core-head-button">
				<div class="icon core-head-icon core-head-icon-type-a icon-mail3"></div>
			</div>
			<div id="core-head-notifications" class="core-head-button">
				<div class="icon core-head-icon core-head-icon-type-a icon-bell"></div>
			</div>
			{% if settings.community %}
				<div id="core-head-community" class="core-head-button">
					<div class="icon core-head-icon core-head-icon-type-a icon-users"></div>
				</div>
			{% endif %}
			<div id="core-head-user" class="core-head-button">
				<img id="core-head-user-avatar" src="http://oi64.tinypic.com/259flau.jpg">
				<div id="core-head-user-name">
					{{user.username}}
				</div>
			</div>
		</div>
		<!-- /right -->
		<!-- option content -->
		<ul id="core-head-user-content">
			<li>Perfil</li>
			<li>Cambiar ícono</li>
		</ul>
		<ul id="core-head-more-content">
			<li>Ajustes</li>
			<li class="url" data-url="/logout/">Cerrar sesión</li>
		</ul>
		<!-- /option content -->
	</div>
</div>