* {
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	min-width: 1280px;
	background-color: rgb(200, 200, 200);
	z-index: 1000;
}

#core-container {
	display: none;
	z-index: 1001;
}

#core-content {
	width: 1230px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	z-index: 1002;
	background-color: rgb(225, 225, 225);
}

.url {
	cursor: pointer;
}