* {
	-webkit-user-select: none;
	-moz-user-select: none;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(200, 200, 200);
	z-index: -1000;
}

#core-content {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1230px;
	left: calc(50% - 615px);
	z-index: -999;
	background-color: rgb(225, 225, 225);
}

.url {
	cursor: pointer;
}