#core-head {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: linear-gradient(to bottom, rgb(60, 60, 60) 0%, rgb(40, 40, 40) 100%);
	border-bottom: 1px solid rgb(25, 25, 25);
	box-shadow: 0 0 1px 0 rgb(0, 0, 0);
}

#core-head-configuration {
	position: absolute;
	top: 0;
	left: 0;
	width: 50px;
	height: 50px;
	background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 100%);
	border-right: 1px solid rgb(25, 25, 25);
}

#core-head-configuration:hover {
	background: linear-gradient(to bottom, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 100%);
}

#core-head-back {
	position: absolute;
	top: 0;
	left: 51px;
	width: 50px;
	height: 50px;
	background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 100%);
	border-right: 1px solid rgb(25, 25, 25);
}

#core-head-back:hover {
	background: linear-gradient(to bottom, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 100%);
}

#core-head-nav {
	position: absolute;
	left: calc(50% - 225px);
}

#core-head-nav ul li {
	float: left;
}

.core-head-nav-separator {
	float: left;
	width: 1px;
	height: 50px;
	background-color: rgb(25, 25, 25);
}

.core-head-nav-button {
	width: 150px;
	height: 50px;
	background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 50%, rgb(50, 50, 50) 51%, rgb(60, 60, 60) 100%);
	cursor: pointer;
	/* Font */
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
	color: rgb(225, 225, 225);
	line-height: 50px;
	text-align: center;
	text-shadow: 0 1px 1px black;
}

.core-head-nav-button:hover {
	background: linear-gradient(to bottom, rgb(90, 90, 90) 0%, rgb(70, 70, 70) 50%, rgb(60, 60, 60) 51%, rgb(70, 70, 70) 100%);
}

.core-head-nav-selected-button {
	width: 150px;
	height: 50px;
	background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 50%, rgb(50, 50, 50) 51%, rgb(60, 60, 60) 100%);
	/* Font */
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
	color: rgb(125, 125, 125);
	line-height: 50px;
	text-align: center;
	text-shadow: 0 1px 1px black;
}

#core-head-logout {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background: linear-gradient(to bottom, rgb(70, 70, 70) 0%, rgb(50, 50, 50) 100%);
	border-left: 1px solid rgb(25, 25, 25);
}

#core-head-logout:hover {
	background: linear-gradient(to bottom, rgb(80, 80, 80) 0%, rgb(60, 60, 60) 100%);
}