body {
	padding-top: 50px;
}

#core-head {
	background-color: rgb(50, 50, 50);
	display: none;
	height: 50px;
	left: 0;
	min-width: 1280px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
	/* box shadow */
	-moz-box-shadow: 0x 0px 5px 0px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0x 0px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

#core-head-content {
	height: inherit;
	margin: 0 auto;
	position: relative;
	width: 1230px;
}

#core-head-content-left {
	left: 0;
	position: absolute;
}

#core-head-navigation {}

.core-head-navigation-option {
	float: left;
	height: 50px;
	width: 75px;
	/* font */
	color: rgb(225, 225, 225);
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	text-align: center;
}

.core-head-navigation-option:hover {
	background-color: rgb(60, 60, 60);
}

.core-head-navigation-option-selected {
	background-color: rgb(40, 40, 40) !important;
	/* font */
	color: rgb(225, 175, 0);
}

#core-head-content-right {
	position: absolute;
	right: 0;
}

#core-head-buttons {}

.core-head-button {
	float: left;
	height: 50px;
}

.core-head-button:hover {
	background-color: rgb(60, 60, 60);
}

.core-head-button-selected {
	background-color: rgb(40, 40, 40) !important;
}

.core-head-button-selected > .core-head-button-icon {
	color: rgb(225, 175, 0);
}

#core-head-button-community {
	width: 50px;
}

#core-head-button-notifications {
	width: 50px;
}

#core-head-button-messages {
	width: 50px;
}

#core-head-button-more {
	width: 50px;
}

.core-head-button-icon {
	cursor: pointer;
	height: 50px;
	width: 50px;
	/* font */
	color: rgb(225, 225, 225);
	font-size: 16px;
	line-height: 50px;
	text-align: center;
}

.core-head-button-icon-selected {
	cursor: pointer;
	height: 50px;
	width: 50px;
	/* font */
	color: rgb(225, 175, 0);
	font-size: 16px;
	line-height: 50px;
	text-align: center;
}