#core-head {
	background-color: rgb(50, 50, 50);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}

#core-head-content {
	padding-left: 25px;
	padding-right: 25px;
	width: 1230px;
	position: absolute;
	left: calc(50% - 640px);
}

#core-head-navigation {
	float: left;
}

.core-head-navigation-option {
	float: left;
	width: 100px;
	height: 50px;
	/* font */
	color: rgb(225, 225, 225);
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	font-family: sans-serif;
}

.core-head-navigation-option:hover {
	background-color: rgb(40, 40, 40);
	color: rgb(250, 250, 250);
}

.core-head-navigation-option-selected {
	float: left;
	width: 100px;
	height: 50px;
	background-color: rgb(25, 25, 25);
	/* font */
	color: rgb(225, 50, 50);
	text-align: center;
	line-height: 50px;
	font-size: 15px;
	font-family: sans-serif;
}

#core-head-user {
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	height: 50px;
	cursor: pointer;
}

#core-head-user:hover > #core-head-user-name {
	color: rgb(250, 250, 250);
}

#core-head-user-avatar {
	float: left;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

#core-head-user-name {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 30px;
	cursor: pointer;
	/* font */
	color: rgb(225, 225, 225);
	line-height: 30px;
	font-size: 15px;
	font-family: sans-serif;
}

#core-head-notifications {
	float: right;
	width: 50px;
	height: 50px;
}

#core-head-messages {
	float: right;
	width: 50px;
	height: 50px;
}

#core-head-settingsandmore {
	float: right;
	width: 50px;
	height: 50px;
}

.core-head-icon {
	color: rgb(225, 225, 225);
	cursor: pointer;
}

.core-head-icon:hover {
	color: rgb(250, 250, 250);
}

.core-head-icon-selected {
	color: rgb(225, 50, 50);
	cursor: pointer;
}

.core-head-icon-selected:hover {
	color: rgb(250, 50, 50);
}

.core-head-icon-type-a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 16px;
}