#shop-head {
	position: relative;
	height: 50px;
	background-color: rgb(40, 40, 40);
	box-sizing: content-box;
}

#shop-head-user-clp {
	position: absolute;
	right: 25px;
	height: 50px;
	/* font */
	color: rgb(225, 225, 225);
	text-align: center;
	line-height: 50px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

#shop-container {
	position: relative;
	height: 720px;
	/* box shadow */
	-webkit-box-shadow: inset 0px 0px 125px 25px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px 0px 125px 25px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px 0px 125px 25px rgba(0, 0, 0, 0.75);
}

#shop-navigation {
	position: absolute;
	top: calc(50% - 137.5px);
	left: 25px;
}

.shop-navigation-option {
	position: relative;
	width: 150px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	padding-left: 25px;
	box-sizing: border-box;
	/* font */
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: rgb(150, 200, 50);
	/* box shadow */
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.shop-navigation-option:hover > .shop-navigation-option-underline-top {
	height: 50%;
}

.shop-navigation-option:hover > .shop-navigation-option-underline-bottom {
	height: 50%;
}

.shop-navigation-option-underline {
	position: absolute;
	left: 0;
	width: 5px;
	height: 0px;
	background-color: rgb(150, 200, 50);
	transition: height 0.4s;
}
.shop-navigation-option-underline-top {
	top: 0;
}

.shop-navigation-option-underline-bottom {
	bottom: 0;
}

#shop-content {
	position: absolute;
	top: 25px;
	left: 200px;
	right: 25px;
	bottom: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	overflow-x: hidden;
	padding-bottom: 17.5px;
	/* box shadow */
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	/*test*/color: rgb(225, 225, 225);
}

.shop-content-type {
	display: none;
}