#shop-left-column {
	bottom: 10px;
	position: absolute;
	top: 10px;
	width: 225px;
}

#shop-left-column-sb {
	background-color: rgb(62, 62, 62);
	border-left: 1px solid rgb(28, 28, 28);
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 2px;
}

#shop-navigation {
	padding: 0 10px;
}

.shop-navigation-option {
	background-color: rgb(60, 60, 60);
	height: 40px;
	width: 100%;
}

.shop-navigation-option-text {
	margin-left: 10px;
	/* font */
	color: rgb(175, 175, 175);
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	line-height: 36px;
	text-shadow: 0 -1px rgb(28, 28, 28);
}