.shop-icon-container {
	position: relative;
	float: left;
	width: 150px;
	height: 200px;
	margin-top: 25px;
	margin-left: 25px;
	background-color: rgb(225, 225, 225);
}

.shop-icon-owned-container {
	background-color: rgb(200, 200, 200);
}