{% extends 'core.html' %}

{% load staticfiles %}

{% block title %}Tienda{% endblock %}

{% block content %}
	<div id="shop-container">
		<ul id="shop-navigation">
			<li id="shop-navigation-option-decks" class="shop-navigation-option" data-cid="#shop-content-decks">
				<div class="shop-navigation-option-underline shop-navigation-option-underline-top"></div>
				Mazos
				<div class="shop-navigation-option-underline shop-navigation-option-underline-bottom"></div>
			</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-packs" class="shop-navigation-option" data-cid="#shop-content-packs">
				<div class="shop-navigation-option-underline shop-navigation-option-underline-top"></div>
				Sobres
				<div class="shop-navigation-option-underline shop-navigation-option-underline-bottom"></div>
			</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-icons" class="shop-navigation-option" data-cid="#shop-content-icons">
				<div class="shop-navigation-option-underline shop-navigation-option-underline-top"></div>
				Íconos
				<div class="shop-navigation-option-underline shop-navigation-option-underline-bottom"></div>
			</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-bundles" class="shop-navigation-option" data-cid="#shop-content-bundles">
				<div class="shop-navigation-option-underline shop-navigation-option-underline-top"></div>
				Paquetes
				<div class="shop-navigation-option-underline shop-navigation-option-underline-bottom"></div>
			</li>
		</ul>
		<div id="shop-content">
			<div id="shop-content-decks" class="shop-content-class">temp content decks</div>
			<div id="shop-content-packs" class="shop-content-class">temp content packs</div>
			<div id="shop-content-icons" class="shop-content-class">
				{% for shop_icon in shop_icons %}
					{% if shop_icon.owned %}
						{% include 'includes/shop_icons.html' with owned=True %}
					{% else %}
						{% include 'includes/shop_icons.html' with owned=False %}
					{% endif %}
				{% endfor %}
			</div>
			<div id="shop-content-bundles" class="shop-content-class">temp content bundles</div>
		</div>
	</div>
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop_icons.css' %}">
{% endblock %}