{% extends 'core.html' %}

{% load staticfiles %}

{% block title %}Tienda{% endblock %}

{% block content %}
	<div id="shop-left-column">
		<ul id="shop-navigation">
			<li class="shop-navigation-option button-ta-container">
				<div class="button-ta-content">
					<div class="shop-navigation-option-text">Mazos de cartas</div>
				</div>
			</li>
			<li class="vs10px"></li>
			<li class="shop-navigation-option button-ta-container">
				<div class="button-ta-content">
					<div class="shop-navigation-option-text">Sobres de cartas</div>
				</div>
			</li>
			<li class="vs10px"></li>
			<li class="shop-navigation-option button-ta-container">
				<div class="button-ta-content">
					<div class="shop-navigation-option-text">Íconos</div>
				</div>
			</li>
			<li class="vs10px"></li>
			<li class="shop-navigation-option button-ta-container">
				<div class="button-ta-content">
					<div class="shop-navigation-option-text">Paquetes</div>
				</div>
			</li>
			<li class="vs10px"></li>
			<li class="shop-navigation-option button-ta-container">
				<div class="button-ta-content">
					<div class="shop-navigation-option-text">Cuenta</div>
				</div>
			</li>
		</ul>
		<div id="shop-left-column-sb"></div>
	</div>
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop_icons.css' %}">
{% endblock %}