{% extends 'core.html' %}

{% load staticfiles %}

{% block title %}Tienda{% endblock %}

{% block content %}
	<div id="shop-container">
		<ul id="shop-navigation">
			<li id="shop-navigation-option-decks" class="shop-navigation-option">Mazos</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-packs" class="shop-navigation-option">Sobres</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-icons" class="shop-navigation-option">Íconos</li>
			<li class="s25px"></li>
			<li id="shop-navigation-option-bundles" class="shop-navigation-option">Paquetes</li>
		</ul>
		<div id="shop-content">
			{% for shop_icon in shop_icons %}
				{% if shop_icon.acquired %}
					{% include 'includes/shop_icons.html' with acquired=True %}
				{% else %}
					{% include 'includes/shop_icons.html' with acquired=False %}
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block css_files %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/shop.css' %}">
{% endblock %}