{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %} - Mitos y Leyendas</title>
		<meta charset="UTF-8">
		<link href='https://fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500,500italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/modals.css' %}">
		{% if data.settings.head %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/head.css' %}">
		{% endif %}
		{% if data.settings.community %}
			<link rel="stylesheet" type="text/css" href="{% static 'css/community.css' %}">
		{% endif %}
		{% block css_files %}{% endblock %}
		<script src="{% static 'js/libraries/require.js' %}"></script>
		<script>
			var data = false;
			{% if data_to_json %}
				data = {{data_to_json|safe}};
			{% endif %}
			requirejs.config({
				baseUrl: '{% static "js/" %}',
				urlArgs: 'bust=' + (new Date()).getTime(),
				paths: {
					jquery: 'libraries/jquery-2.1.4.min',
					jqueryui: 'libraries/jquery-ui-1.11.4/jquery-ui.min',
					waitforimages: 'libraries/jquery.waitforimages.min',
					jscookie: 'libraries/js.cookie'
				}
			});
			requirejs(['jquery'], function(){
				$(document).ready(function () {
					requirejs(['jscookie'], function (jsCookie) {
						var csrftoken = jsCookie.get('csrftoken');
						function csrfSafeMethod (method) {
							return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
						}
						$.ajaxSetup({
							beforeSend: function (xhr, settings) {
								if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
									xhr.setRequestHeader("X-CSRFToken", csrftoken);
								}
							}
						});
					});
					requirejs(['main']);
				});
			});
		</script>
	</head>
	<body>
		{% include 'includes/loader.html' %}
		{% include 'includes/modals.html' %}
		{% if data.settings.head %}
			{% include 'includes/head.html' %}
		{% endif %}
		{% if data.settings.community %}
			{% include 'includes/community.html' %}
		{% endif %}
		<div id="core-container">
			<div id="core-content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
</html>