{% load staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<title>Mitos y Leyendas</title>
		<meta charset="UTF-8">
		<link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/core.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/application_loader.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/ajax_loader.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/start.css' %}">
		<script src="{% static 'js/libraries/require.js' %}"></script>
		<script>
			requirejs.config({
				baseUrl: '{% static "js/" %}',
				urlArgs: 'bust=' + (new Date()).getTime(),
				paths: {
					jquery: 'libraries/jquery-2.1.4.min',
					jqueryui: 'libraries/jquery-ui-1.11.4/jquery-ui.min',
					jscookie: 'libraries/js.cookie'
				},
				waitSeconds: 15
			});
			requirejs(['jquery'], function () {
				requirejs(['jscookie'], function (jsCookie) { // poner en main quizas
					var csrftoken = jsCookie.get('csrftoken');
					function csrfSafeMethod (method) {
						return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					}
					$.ajaxSetup({
						beforeSend: function (xhr, settings) {
							if(!csrfSafeMethod(settings.type) && !this.crossDomain) {
								xhr.setRequestHeader("X-CSRFToken", csrftoken);
							}
						}
					});
				});
				$(document).ready(function () {
					requirejs(['main']);
				});
			});
		</script>
	</head>
	<body>
		{% include 'includes/application_loader.html' %}
		{% if ind_page %}
			{% block content %}{% endblock %}
		{% else %}
			<div id="core-head">
				<div id="core-head-content-left">
					<div id="core-head-button-menu" class="core-head-button-default icon icon-menu3"></div>
					<div id="core-head-user">
						<div id="core-head-user-icon-container">
							<img id="core-head-user-icon" src="/static/img/icons/default.png">
						</div>
						<div id="core-head-user-data">
							<div id="core-head-user-name">{{user.username}}</div>
							<div id="core-head-user-points">{{user.userprofile.ip}}</div>
						</div>
					</div>
				</div>
				<div id="core-head-button-play">Jugar</div>
				<div id="core-head-content-right">
					<div id="core-head-button-community" class="core-head-button-default icon icon-users"></div>
					<div id="core-head-button-notifications" class="core-head-button-default icon icon-bell"></div>
					<div id="core-head-button-messages" class="core-head-button-default icon icon-drawer2"></div>
					<div id="core-head-button-settings" class="core-head-button-default icon icon-wrench"></div>
					<div id="core-head-button-logout" class="core-head-button-default icon icon-exit"></div>
				</div>
			</div>
			<div id="core-container">
				<div id="core-content">
					{% include 'includes/ajax_loader.html' with elementId="core-content-loader" %}
				</div>
			</div>
			<!---->
			<div id="menu">
				<ul id="menu-options">
					<li id="menu-option-start" class="menu-option">Inicio</li>
					<li id="menu-option-shop" class="menu-option">Tienda</li>
					<li id="menu-option-cards" class="menu-option">Cartas</li>
				</ul>
			</div>
			<div id="community"></div>
			<div id="notifications"></div>
			<div id="messages"></div>
			<div id="settings"></div>
		{% endif %}
	</body>
</html>