
.icon-cog-1:before { content: '\e806'; } /* '' */
.icon-cog-alt:before { content: '\e807'; } /* '' */
.icon-user-1:before { content: '\e808'; } /* '' */
.icon-user-plus:before { content: '\e809'; } /* '' */
.icon-user-times:before { content: '\e80a'; } /* '' */
.icon-users-1:before { content: '\e80b'; } /* '' */
.icon-left-open:before { content: '\e80c'; } /* '' */
.icon-logout-1:before { content: '\e80d'; } /* '' */
.icon-cancel-1:before { content: '\e80e'; } /* '' */